.profile-top
  .back-btn <-
  .profile-name
-# = form_for(url: user_registration_path, method: 'patch') do |f| 
= form_with(url: user_registration_path, method: 'update', local: true) do |f|
  -# = f.label :avatar do
  - if current_user.avatar.attached?
    = image_tag current_user.avatar, class: 'avatar'
  = f.file_field :avatar
  = f.submit '送信'
.follow-info  
  .follow-info-Lt
    %p 44
    %p Post
  .follow-info-Ctr
    %p 100
    %p Followers
  .follow-info-Rt
    %p 100
    %p Following
  .grid-img
    .img-item-one#itema
      = image_tag 'Rectangle (2).png', class: 'img-bg'
    .img-item-two#itemb
      = image_tag 'Rectangle (3).png', class: 'img-sml'
    .img-item-two#itemc
      = image_tag 'Rectangle (4).png', class: 'img-sml' 
-# - if current_user.avatar.attached?
-#       = image_tag current_user.avatar, class: 'avater', id: 'avatar'
-#     - else 
-#       = image_tag 'Bitmap (1).png', class: 'avater', id: 'avatar'