.profile-top
  .back-btn <-
  .profile-name= @user.account
= image_tag 'Ellipse.png', class: 'avatar'
.follow-info  
  .follow-info-Lt
    %p 44
    %p Post
  .follow-info-Ctr
    %p 100
    %p Followers
  .follow-info-Rt
    %p 100
    %p Following
.img-wrap
  .img-item
    .img-item-one
      = image_tag 'Rectangle (2).png', class: 'img-bg'
    .img-item-two
      = image_tag 'Rectangle (3).png', class: 'img-sml'
      = image_tag 'Rectangle (4).png', class: 'img-sml'