.top-backimg
  .top-wrap 
    %div 9:41
    %div iii
.container
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'text'
    .field
      = f.label :account
      %br/
      = f.text_field :account, autofocus: true, autocomplete: "account", class: 'text'
    .field
      = f.label :password
      %br/
      = f.password_field :password, autocomplete: "new-password", class: 'text'
    .actions
      = f.submit "CREATE ACCOUNT", class: 'btn'
  -# = render "devise/shared/links"
