- @articles.each do |article|
  .articles-page
    = link_to article_path(article) do
      .name-info
        = article.user.account
        %time(datetime="#{article.created_at}")
          = time_ago_in_words(article.created_at) + "前"
      = render 'images', article: article
    .click-item
      .active-heart.hidden
        = image_tag 'Vector (1).png'
      .inactive-heart.hidden
        = image_tag 'Vector (3) (1).png'
      .comment-btn
        = image_tag 'Vector (4) (1).png'
      .share-btn
        = link_to  "https://twitter.com/share?url=#{request.url}", title: 'Twitter', target: '_blank'  do
          = image_tag 'Vector (2) (1).png'
    .content-box
      = link_to article.content, article_path(article)
-# .display-flex
-#   .display-flex-left
-#     = image_tag 'Rectangle (4).png', class: 'aaa'
-#   .display-flex-right
-#     = image_tag 'Rectangle (4).png', class: 'aaa'
