.articles-page#article-show{data: {article_id: @article.id}}
  .name-info
    %p= @article.user.account
    %time(datetime="#{@article.created_at}")
      = time_ago_in_words(@article.created_at) + "前"
  = render 'images', article: @article
  = render 'click_item', article: @article
  .content-box
    = @article.content
.comments-title comments
.comment
  .comment-image
  - if @user.avatar.attached?
    = imgae_tag @user.avatar
  - else
    = image_tag 'Ellipse (1).png', class: 'comment-avatar'
  .infoandcomment
    .user-account
      -# = @user.account 
    .comment-content
      -# = comment.content
.comment-post.hidden
  = image_tag 'Vector (4) (1).png', class: 'comment-post-btn'
  = text_field_tag :comment_content, '', class: 'text-area'


